*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body
{
    background: #eee;
}

.fl
{
    float: left;
}
.fr{
    float: right;
}

.clearfix:after,
.clearfix:before
{
    content: "";
    display: table;
    clear: both;

}

.navbar-item
{
    display: inline-block;
    line-height: 2;
    padding: 2px 4px;
}

.navbar
{
    background: #a10;
    color: #fff;
}
a{
    text-decoration: none;
}
.navbar a{
    color : #fff;
}

.navbar .brand
{
    font-size: 20px;
    padding-top: 0px;
    line-height: 1 ;
    font-weight: 600;
}
.navbar-item:first-child
{
    margin-left: 4px;
}
.navbar-item:last-child
{
    margin-right: 4px;
}

.container
{
    width: 1080px;
    margin-left:auto ;
    margin-right: auto;
}

.container.signup,
.container.login,
.container.reset-password
{
    width: 600px;
    margin-top: 15px;
}

[ui-sref]{
    cursor: pointer;
}

form,
lable
{
    display: block;
}

lable
{
    margin: 4px 0;
}

.input-error-set
{
    color: #a10;
    margin:4px 0;
}
h1
{
    font-size: 18px;
    margin-top:0;
}
.card
{
    display:block;
    padding: 10px 6px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}

input
{
    display: block;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.1);
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    outline: none;
}

.input-group
{
    margin-bottom: 10px;
}

button
{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #fff;
}

input,
button
{
    padding : 5px;
}